.about-heading {
  text-align: center;
  padding: 90px;
  font-size: 5rem;
  line-height: 1em;
  /* text-transform: uppercase; */
  margin: auto;
  letter-spacing: 0.0188679em;
  font-weight: 300;
  font-style: normal;
}
#company {
  float: left;
  width: 250px;
  margin: 23px 40px 20px 0px;
}

#ceo {
  float: right;
  margin: 23px 0px 20px 40px;
  width: 250px;
  
}
 
.ceo-wrapper {
 display: inline-block;
}

.ceo {
      padding: 0;
      /* font-weight: bold; */
      text-transform: uppercase;
}

.position {
      padding: 0;
      /* font-weight: bold; */
      text-transform: uppercase;
}
span {
  border: 1px solid orange;
  background: #faebd799;
}

.about_content-main {
 background-color: #fff;
 max-width: 960px;
 margin: 0 auto;
 padding: 100px 8%;
}

.about_content p {
  letter-spacing: 2;
  line-height: 2;
  margin: auto;
}



@media only screen and (max-width: 600px) {
  .about {
     background-image: url('../Images/about Images/stephan-schmid-TFYj8cPnKxg-unsplash.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
  }
  .about-heading {
    font-size: 40px;
    padding: 90px 0;
  }
  #company {
    float: none;
    margin: 0;
    width: 100%;
  }
  #ceo {
    float: none;
    margin: 0;
    width: 100%;
    padding: 15px 0;
  }
  .company_logo {
    text-align: center;
  }
  
  .about_content-main {

    padding: 8%;
  }
}