.about-heading {
  text-align: center;
  padding: 90px;
  font-size: 105px;
  line-height: 1em;
  text-transform: uppercase;
  margin: auto;
  letter-spacing: 0.0188679em;
  font-weight: 300;
  font-style: normal;
}


.about_content-main {
 background-color: #fff;
 max-width: 960px;
 margin: 0 auto;
 padding: 100px 8%;
}

.about_content p {
  letter-spacing: 2;
  line-height: 2;
  margin: auto;
}


.info {
  padding: 10px 0;
}

.about_company-info {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .about {
     background-image: url('../Images/about Images/stephan-schmid-TFYj8cPnKxg-unsplash.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
  }
  .about-heading {
    font-size: 50px;
    /* padding: 40px; */
  }
  .about_company-info{
    display: inline;
  }
  .company_logo {
    text-align: center;
  }
  .info {
    text-align: center;
  }

  .about_company-info {
    text-align: center;
  }
  .about_content-main {

    padding: 8%;
  }
}