* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  color: rgb(235, 146, 50);
}

.current {
  background: rgb(232, 191, 115);
  color:rgb(162, 235, 155);
  border-radius: 5px;
  text-align: center;
}
.current:hover {
  color:rgb(162, 235, 155);
}
.parallax0 {
 background: rgba(248, 237, 217, 0.929);
 
}
.parallax {
  min-height: 400px;
  background: transparent;
}
.carousel, .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.carousel-inner {
  height: 500px;
}
/* .carousel-item {
  height: auto;
} */

.carousel-item img {
  width: 100%;
  height: auto;
}
.showcase-sec {
  /* height: 500px; */
}
.section-heading {
  font-family: "Dosis";
  font-size: 69px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.0188679em;
  font-weight: 300;
  font-style: normal;
  position: relative;
  z-index: inherit;
  text-align: center;
  margin: auto;
  padding: 24px 0;
}


.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

}

.iframe-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video_cards {
  display: flex;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main_content {
  margin: auto;
  padding: 100px;
}

.card-content {
  text-align: center;
}

.card_content-main {
  margin: auto;
  /* margin-top: 66px; */
}

.section-paragraph {
  text-align: center;
  font-family: "Roboto";
  font-size: 17px;
  line-height: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 300;
  font-style: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  position: relative;
  z-index: inherit;
  padding: 20px;
}

.section-link {
  text-align: center;
}

.section-link a {
  background-color: transparent;
  border: 2px solid rgb(245, 168, 25) !important;
  font-size: 17px;
  margin: 10px 0px 0px;
  padding: 14px 24.5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
   color: rgb(106, 105, 105);
}
.section-link a:hover{
  background:rgb(106, 105, 105);
   /* border: 2px solid rgb(243, 243, 243) !important; */
   color: white;
}

.bglink {
  background:rgb(189, 194, 188);
  border: 1px solid rgb(245, 168, 25);
  
}

.bglink:hover {
    background:rgb(106, 105, 105);
    border: 1px solid rgb(162, 235, 155);

}

.parallax {
  background-size: cover;
  background-attachment: fixed;
}


.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
}

.paralax-section__content {
  margin: auto;
}

.soike-video-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding: 0 10px 40px 10px;
}

.soike-video-card {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 48%;
  max-width: 48%;
  min-width: 300px;
  margin: 1%;
  border: 1px solid;
  background-color: whitesmoke;
}

.soike-video-iframe-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56%;
  margin: auto;
}

.soike-video-iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.videoswiper .card-img:hover:after {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

@media only screen and (max-width: 600px) {
  .main-work {
    background: rgba(248, 237, 217, 0.929);
    opacity: .1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .carousel-inner {
    height: 100%;
  }
  .section-heading {
    font-size: 60px;
    /* padding: 40px; */
  }
  .section-paragraph {
    font-size: 12px;

  }
  .main_content {
    padding: 23px;
  }
  .video_cards {
    display: block;
    
  }


}